.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/archive/
Program/Downscaling_report.pdf
Program/check/
Data/global/
Data/
Output/
*.tif
*.geojson
archive/
/Program/Downscaling_report_files/figure-latex/
Program/Downscaling_report_cache/
Documents/
Program
Output